

/* Thin out the marketing headings */
.listview_3--bootstrap-500--1 .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.listview_3--bootstrap-500--1 .featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

/* RESPONSIVE CSS */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .listview_3--bootstrap-500--1 .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .listview_3--bootstrap-500--1 .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .listview_3--bootstrap-500--1 .featurette-heading {
        margin-top: 7rem;
    }
}